
<form (ngSubmit)="handleLogin()">
  <p>Acceso a la Web (Login)</p>
  <div class="form-group">
    <label for="email">Usuario:</label>
    <input type="text" id="email" name="email" [(ngModel)]="email" required>
  </div>
  <div class="form-group">
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  </div>
  <button type="submit">Iniciar sesión</button>
<br>
<br>
</form>
<div *ngIf="status === 'not registered'">
  <button [routerLink]="'/auth/register'">Si no estas registrado.</button>
  <h2>{{message}}</h2>
  </div>
