.container-library-completeUniverse-routes {
    background-image: url("https://res.cloudinary.com/dqfaa272n/image/upload/v1708383661/APISCIFI/Fondos%20Universos/space-cosmic-landscape-background-free-photo_a9uw46.jpg");
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    /* height: 100vh; */
    padding: 0 0 0 25%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container-library-completeUniverse-button {
    width: 60%;
    height: 60%;
  }
  