.oldManWar-container {
  background-image: url("https://res.cloudinary.com/dqfaa272n/image/upload/v1708061638/APISCIFI/Fondos%20Universos/OldsManWarUniverse_xmnfgx.jpg");
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  /* height: 100vh; */
  padding: 0 0 0 25%;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  ///BARRA DESLIZADORA
  margin: 1rem auto;
  border: 1px solid #aaa;
  overflow:auto;
  box-sizing: border-box;
  padding:0 1rem;
  scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
  scrollbar-width:thin;
  ///
    &-ul-li-button {
      width: 60%;
      height: 60%;
        &-img {
        width: 95%;
        height: 95%;
      }
    }
}