.duneBooks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-img-img {
    width: 200px;
    height: 300px;
  }
  &-description {
    text-align: center;
    color: #ffffff;
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(1.5em * 4);
    -webkit-line-clamp: 4;
    font-size: 20px;
  }
  &-h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(1.5em * 4);
    -webkit-line-clamp: 1;
    font-family: 'Race-guard';
    text-decoration:overline;
  }
  &-resume {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    font-size: 14px;
    height: 420px;
    font-family: 'Merienda';
  }
}
@media (min-width: 400px)  {

}
@media (min-width: 600px)  {
   
}
@media (min-width: 800px)  {

}
@media (min-width: 1000px)  {

}
@media (min-width: 1200px)  {

}
@media (min-width: 1400px)  {

}
@media (min-width: 1600px)  {

}
@media (min-width: 1800px)  {

}

@media (min-width: 2000px)  {

}

