.duneBooks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dqfaa272n/image/upload/v1708459153/DUNE/FONDOS/coptero_pmt1su.jpg");
  border-radius: 45px;
  box-sizing: content-box;
}

.duneBooks-container-img{
  object-fit: cover;
  margin-top: 10%;
}
img {
width: 200px;
height: 300px;
border-radius: 20px;
object-fit: cover;
}

.duneBooks-container-description {
text-align: center;
color: #ffffff;
}

.duneBooks-container-description-h2 {
display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
max-height: calc(1.5em * 4);
-webkit-line-clamp: 1;
text-decoration: underline;
color: white;
}
.duneBooks-container-description-p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: calc(1.5em * 4);
  -webkit-line-clamp: 4;
  color: white;
  }
  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .white {
    color:white
    }