.container-planets{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://res.cloudinary.com/dmbeu9ipe/image/upload/v1705493468/honor_among_enemies_2_by_genkkis_d5c6lhm-fullview_mkzwqx.jpg);
    background-size: contain;
        &-title{
            background: linear-gradient(yellow, orange);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px black;
            filter: drop-shadow(2px 2px #ff0080);
            font-size: 175%;
            display: flex;
            justify-content: center;
            margin: 20px 20px;
        }
        &-search{
            display: flex;
            &-label{
                padding: 0px 0px 0px 0px;
                font-size: 20px;
                font-weight: bold;
                color: blueviolet;
                pointer-events: none;
                transition: 0.5s;
            }
            &-search{
                border-radius: 42px;
                border-width: 0;
                padding: 0px 0px 0px 0px;
            }
            &-input{
                color: white;
                background-color: initial;
                background-image: linear-gradient(rgba(179, 132, 201, 0.84), rgba(57, 31, 91, 0.84) 50%);
                border-radius: 42px;
                border-width: 0;
                padding: 0px 0px 0PX 0px;
            }
        }
        &-list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100vw;
        }
        &-card{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &-listTitle{
                font-size: 20px;
                color: white;
                margin: 20px 5px 20px 5px;
                text-decoration: underline;
                background-color: initial;
                background-image: linear-gradient(rgba(179, 132, 201, 0.84), rgba(57, 31, 91, 0.84) 50%);
                border-radius: 42px;
                border-width: 0;
                box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
                padding: 10px 50px 10px 50px;
                width: 50%;
                display: flex;
                justify-content: center;
            }
            &-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: url(https://res.cloudinary.com/dmbeu9ipe/image/upload/v1705482664/trqbjawx6qrh1qpbmvs5.png);
                background-size: cover;
                border-radius: 15%;
                width: 350px;
                height: 760px;
                margin: 30px 10px 0 10px;
                &-image{
                    position: relative;
                    left: 0px;
                    width:325px;
                    height:350px;
                    transition: width 0.2s, height 0.2s;
                    &:hover{
                        width:556px;
                        height:575px;
                        display:block;
                        z-index:999;
                }
            }
        }
    }
}
.container-planets-card-container-title{
    color: blueviolet;
    text-decoration: underline;
    text-align: center
}
.container-planets-card-container-p{
    color: blueviolet;
    text-align: center
}

/*MEDIA QUERY*/
@media (min-width: 600px)  {
    .container-planets-title {
        font-size: 250%;
    }
}
@media (min-width: 1025px)  {

}
@media (min-width: 1280px)  {

}