.actualUser-container{
  display: flex;
  width: 100vw;
  padding: 2%;
  justify-content: center;
    & p{
      color: blueviolet;
      font-weight: bold;
      font-size: 20px;
    }
}
.actualUser-button, .logOut-button{
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
    &-:hover, &:hover {
    background-image: linear-gradient(#B384C9, #391F5B 50%);
  }
    &-container p{
      color: blueviolet;
      font-weight: bold;
      font-size: 20px;
  }
}
.logOut-Container{
  display: flex;
  width: 100vw;
  padding: 2%;
  justify-content: center;
}
.main-pages-list {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    &-books, &-planets, &-countries, &-characters {
      display: flex;
      width: 20%;
      min-width: 200px;
      max-width: 230px;
      position: relative;
      vertical-align: top;
      margin: 10px;
      font-family: 'helvetica', san-serif;
      min-height: 25vh;
      background: #262a2b;
      border: 1px solid #252727;
      text-align: left;
      background-size: cover;
      background-size: cover;
      box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
      border-radius: 20%;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    & li h3 {
      font-size: 105%;
      color: white;
      margin-bottom: 5px;
      text-decoration:underline;
      background-color: initial;
      background-image: linear-gradient(rgba(179, 132, 201, 0.84), rgba(57, 31, 91, 0.84) 50%);
      border-radius: 42px;
      border-width: 0;
      box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
      padding: 6%;
    }
    & li:hover h2 {
      top: 0px;
      opacity: 0.6;
        &:before {
          content: '';
          position: absolute;
          top: -2px;
          left: -2px;
          right: -2px;
          bottom: -2px;
          z-index: -1;
          background: #fff;
          transform: skew(2deg, 2deg);
        }
        &:after {
          content: '';
          position: absolute;
          width: 40%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba(255, 255, 255, 0.02);
        }
    }
    &-button {
      align-items: center;
      background-color: initial;
      background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
      border-radius: 42px;
      border-width: 0;
      box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
      color: #FFFFFF;
      cursor: pointer;
      display: flex;
      font-family: Quicksand,sans-serif;
      font-size: 12px;
      font-weight: 700;
      justify-content: center;
      letter-spacing: .04em;
      line-height: 16px;
      margin: 0;
      padding: 18px 18px;
      text-align: center;
      text-decoration: none;
      text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
        &:hover{
          color: #262a2b;
            &:before{
              left: 0;
              opacity: 1;
            }
        }
    }
  }

  a:-webkit-any-link{
    color: white;
  }
  .main-pages-list-books{
    background-image: url(https://res.cloudinary.com/dmbeu9ipe/image/upload/v1705867263/Imagen_147036610_xl-R6CP385LIueNR1gNUwO1CtJ-1968x1216_Las_Provincias_zypnmy.webp);
  }
  .main-pages-list-planets{
    background-image: url(https://res.cloudinary.com/dmbeu9ipe/image/upload/v1705477421/hkpwq4cvowqsii7adqgm.webp);
  }
  .main-pages-list-countries{
    background-image: url(https://res.cloudinary.com/dmbeu9ipe/image/upload/v1705477576/g5msytkjb9pgte0bd0l0.webp);
  }
  .main-pages-list-characters{
    background-image: url(https://res.cloudinary.com/dmbeu9ipe/image/upload/v1705477631/lmhck7ocnbocnqw3otup.webp);
  }

/*PageBooks*/

  .container-books {
    color: blueviolet;
  }

/*MEDIA QUERY*/
@media (min-width: 600px)  {

}
@media (min-width: 1025px)  {

}
@media (min-width: 1280px)  {

}
 