<div class="main-container">
  <h2 class="main-title">Bienvenido Fans de la Ciencia Ficcion</h2>
  <p class="main-parragraph">
    Esta pagina surge como un referente de las sagas de ciencia ficcion que
    han revolucionado el genero, especialmente las Space Opera como Fundacion
    o Old `s Man War.`
  </p>
  <p class="main-parragraph">
    Podrias ver informacion sobre cientos de libros de ciencia ficcion clasica y reciente, e informarte en profundidad sobre aquellas sagas que te interesen. Estamos valorando empezar a poner a disposicion tambien en la web Epub gratuitos, no te piedas nuestras actualizaciones...
  </p>
  <menu class="main-menu">
      <button class="main-menu-button"[routerLink]="'/auth/login'">Login</button>
      <button class="main-menu-button"[routerLink]="'/auth/register'">Register</button>
  </menu>
</div>


