<header>
    <h1>Biblioteca de Ciencia Ficcion Interactiva</h1>
    
</header>
<div>
  <div className="home-container">
    <h2 className="home-title">Bienvenido Fans de la Ciencia Ficcion</h2>
  <p className="home-parragraph">
    Esta pagina surge como un referente de las sagas de ciencia ficcion que
    han revolucionado el genero, especialmente las Space Opera como Fundacion
    o Old `s Man War.`
  </p>
  <p className="home-parragraph">
    Podrias ver informacion sobre cientos de libros de ciencia ficcion clasica y reciente, e informarte en profundidad sobre aquellas sagas que te interesen. Estamos valorando empezar a poner a disposicion tambien en la web Epub gratuitos, no te piedas nuestras actualizaciones...
  </p>
  <menu className="container-header">
    <menu>
      <ul className="header-title-list">
        <button [routerLink]="'/auth/login'">Login</button>
        <button [routerLink]="'/auth/register'">Register</button>
      </ul>
    </menu>
  </menu>

  <app-footer></app-footer>
