.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

.product-list--producto {
  background-color: #037bc0;
  width: 300px;
  margin: 10px;
  border-radius: 8px;
  padding: 15px;
  box-sizing: border-box;
}

