.free-books {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    border: 1px solid #aaa;
    overflow:auto;
    box-sizing: border-box;
    padding:0 1rem;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width:thin;
    &-container-ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        align-content: center;
        padding: 0;
        width: auto;
        &-li{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-h2 {
                font-family: 'Race-guard';}
            &-button-a-img{
                    width: 375px;
                    height: 375px;
                }
            }   
        }
    }
    
    @media (min-width: 400px)  {
    
        }
    @media (min-width: 600px)  {
        .free-books-container-ul-li-button-a-img{
            width: 550px;
            height: 550px;
        }
    }
    @media (min-width: 800px)  {
        .free-books-container-ul-li-button-a-img{
            width: 750px;
            height: 750px;
        }
    }
    @media (min-width: 1000px)  {
     
     }
     @media (min-width: 1200px)  {
   
     } 
     @media (min-width: 1400px)  {
 
     } 
     @media (min-width: 1600px)  {
     
     } 
     @media (min-width: 1800px)  {
   
     } 
     @media (min-width: 2000px)  {
    
     } 
     @media (min-width: 2200px)  {
     
     } 