.container-library-completeUniverse-routes {
    background-image: url('https://res.cloudinary.com/dqfaa272n/image/upload/v1708714142/APISCIFI/Fondos%20Universos/fondodune4_mh3y4o.webp');
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    /* height: 100vh; */
    padding: 0 0 0 25%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}
.container-library-completeUniverse-button {
    width: 60%;
    height: 60%;

}
