.author-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 350px;
  height: 350px;
  border-radius: 8px;
  object-fit: fill;
}

.description-author {
text-align: center;
color: #ffffff;
}

.buttons-container {
display: flex;
justify-content: center;
align-items: center;
}

.white {
color:white
}

.short-text {
display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
max-height: calc(1.5em * 4);
-webkit-line-clamp: 4;
font-size: 90%;
}
.short-text-resume{
  font-size: 90%;
  height: 350px;
}

.short-tittle {
display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
max-height: calc(1.5em * 4);
-webkit-line-clamp: 1;
font-family: 'Race-guard';
font-size: 150%;
}
