.container-books{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://res.cloudinary.com/dmbeu9ipe/image/upload/v1705493471/honor_harrington_flag_in_exile_by_genkkis-d2mty9d_s4tcab.jpg);
    background-size: contain;
        &-title{
            background: linear-gradient(yellow, orange);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px black;
            filter: drop-shadow(2px 2px #ff0080);
            font-size: 175%;
            display: flex;
            justify-content: center;
            margin: 20px 20px;
        }
        &-search{
            display: flex;
            &-label{
                padding: 0px 0px 0px 0px;
                font-size: 20px;
                font-weight: bold;
                color: blueviolet;
                pointer-events: none;
                transition: 0.5s;
            }
            &-search{
                border-radius: 42px;
                border-width: 0;
                padding: 0px 0px 0px 0px;
            }
            &-input{
                color: white;
                background-color: initial;
                background-image: linear-gradient(rgba(179, 132, 201, 0.84), rgba(57, 31, 91, 0.84) 50%);
                border-radius: 42px;
                border-width: 0;
                padding: 0px 0px 0 0px;
            }
        }
        &-list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100vw;
        }
        &-card{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &-listTitle{
                font-size: 20px;
                color: white;
                margin: 20px 5px 20px 5px;
                text-decoration: underline;
                background-color: initial;
                background-image: linear-gradient(rgba(179, 132, 201, 0.84), rgba(57, 31, 91, 0.84) 50%);
                border-radius: 42px;
                border-width: 0;
                box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
                padding: 10px 50px 10px 50px;
                width: 40%;
                display: flex;
                justify-content: center;
            }
            &-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: url(https://res.cloudinary.com/dmbeu9ipe/image/upload/v1701926213/ldqsj3ddec2qxmwht55z.jpg);
                background-size: cover;
                border-radius: 15%;
                width: 350px;
                height: 600px;
                margin: 30px 10px 0 10px;
            }
        }
}
.container-books-card-container-title{
    color: goldenrod;
    text-decoration: underline;
    text-align: center
}
.container-books-card-container-p{
    color: goldenrod;
    text-align: center
}
.container-books-card-container-image{
    position: relative;
    left: 0px;
    width:228px;
    height:300px;
    transition: width 0.2s, height 0.2s;
    &:hover{
        width:456px;
        height:260px;
        display:block;
        z-index:999;
    }
}

/*MEDIA QUERY*/
@media (min-width: 600px)  {
    .container-books-title {
        font-size: 250%;
    }
}
@media (min-width: 1025px)  {

}
@media (min-width: 1280px)  {

}

