
<footer className="footer">
  <img className="library" src="https://res.cloudinary.com/dqfaa272n/image/upload/v1708361220/APISCIFI/FONDOS%20PRINCIPALES%20Y%20OBJETOS/iconoweb2_ddlf5w.jpg"/> 
  <p>&copy;2024 Luis Campos Pousa & David Campos Pousa| All Rights Reserved</p>
  <img className="library" src="https://res.cloudinary.com/dqfaa272n/image/upload/v1708361220/APISCIFI/FONDOS%20PRINCIPALES%20Y%20OBJETOS/iconoweb2_ddlf5w.jpg"/> 
  <img className="upgrade" src="https://res.cloudinary.com/dqfaa272n/image/upload/v1708061307/APISCIFI/FONDOS%20PRINCIPALES%20Y%20OBJETOS/LogoUpgradeVerde_u2zipj.png" alt="upgrade-logo"/> 
</footer>


