
<footer class="footer">
  <ul class="footer-container">
    <li class="footer-item">  
      <img class="footer-img-library" src="https://res.cloudinary.com/dqfaa272n/image/upload/v1708361220/APISCIFI/FONDOS%20PRINCIPALES%20Y%20OBJETOS/iconoweb2_ddlf5w.jpg"/> 
    </li>
    <li class="footer-item-p">
      <p class="footer-p" >&copy;2024 Luis Campos Pousa & David Campos Pousa| All Rights Reserved</p>
    </li>
    <li class="footer-item-upgrade">
      <img class="footer-img-upgrade" src="https://res.cloudinary.com/dqfaa272n/image/upload/v1708022946/HONOVERSO/VARIOS/original_js908c_miup19.png" alt="upgrade-logo"/> 
    </li>
  </ul>
</footer>


