<div  class="header-title">
  <h1>Biblioteca de Ciencia Ficcion "Campos Pousa"</h1>
</div>
<div class="header-logout">
  <form (ngSubmit)="logout()">
    <button type="submit">Logout</button>
  </form>
  <!-- IsToken hide div when isnt`n token -->
  <div *ngIf="isTokenPresent()"> 
    <button [routerLink]="'/library'">Volver a Libreria</button>
  </div>
  <div *ngIf="isTokenPresent()">
    <button [routerLink]="'/library/completeUniverse'">Ir a Universos Completos</button>
  </div>
  <div *ngIf="isTokenPresent() && userData">
    <p class="Logout-logged">User Logged IN: {{ userData.email }}</p>
  </div>
</div>
