.duneCountrie-container-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  border: 1px solid #aaa;
  overflow:auto;
  box-sizing: border-box;
  padding:0 1rem;
  scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
  scrollbar-width:thin;
  background-image: url("https://res.cloudinary.com/dqfaa272n/image/upload/v1708459153/DUNE/FONDOS/coptero_pmt1su.jpg");
  background-size: contain;
  &-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
      &-item {
      background-color: #037bc0;
      width: 400px;
      margin: 10px;
      border-radius: 8px;
      padding: 15px;
      box-sizing: border-box;
    }
  }
}
@media (min-width: 2200px)  {
  .duneCountrie-container-list-button{
    font-size: 300%;
  }
  }

