/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Cyborg';
  src: url('./assets/fonts/cyborg_punk/CyborgPunk.ttf');
}
@font-face {
  font-family: 'Race-guard';
  src: url('./assets/fonts//race-guard-font//RaceGuard-7BPoE.otf');
}

h1{
  font-family: 'Cyborg';
}
h2{
  font-family: 'Race-guard';
}
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

/* input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
} */

/* button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

button:hover {
  background-color: #45eeee;
}


.auth-container {
  max-width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .special-buttom {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.special-buttom:hover {
  border-color: #646cff;
}
.special-buttom:focus,
.special-buttom:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.special-buttom {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
} */
/* input, button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;

} */


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


/* body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  text-decoration: double;
  color: rgb(223, 224, 235);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(https://res.cloudinary.com/dqfaa272n/image/upload/v1708061310/APISCIFI/FONDOS%20PRINCIPALES%20Y%20OBJETOS/BackgroundMainLibrary_egzry6.jpg);
  background-size: inherit;
  background-repeat: no-repeat;
} */

p, h2, label {
  font: 150 2rem Raleway, sans-serif;
  text-decoration:solid;
  color:#6ef2fc;
  font-style: var(--fill-color);
  font-weight:900;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




/* .container-session {
  display: flex;
  align-items:baseline;
  justify-content: space-evenly;

} */

html {
  background: url(https://res.cloudinary.com/dqfaa272n/image/upload/v1708061310/APISCIFI/FONDOS%20PRINCIPALES%20Y%20OBJETOS/BackgroundMainLibrary_egzry6.jpg) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

/* ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style-type: none;
} */
/* 
  li {
    padding: 6px 0;

    a {
      --fill-color: #198ce6;
      position: relative;
      display: block;
      padding: 4px 0;
      font: 700 3rem Raleway, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-text-stroke: 2px var(--fill-color);
      background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
      color: transparent;
      background-clip: text;
      transition: 0.5s linear;

      &:hover {
        background-size: 100%;
      }
    }
  } */

/* .container-register {
  display: flex;
  flex-direction: unset;
  align-items: center;
  flex-direction: column;
} */
/* label {  
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;

} */
/* /-----/library-component/-----/ */
.library-component {
  display: flex;
  flex-direction: row;
}

.container-library-routes-img {
  width: 95%;
  height: 95%;
}
.button-library-routes-universos {
  width: 85%wh;
  height: 50%;

}

.button-library-routes-universos-img {
  width: 50%;
  height: 50%;
}

/*Container*/
/* .container {
  width: 100vw;
  height: 80vh;
  position: relative;
  top: 11vh;
}
.container-form {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
} */

/* form {
  margin: 20px;
  padding: 20px;
  border: none;
  display: flex;
  flex-direction: column;
} */

input,
button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

/* .picture {
  color: transparent;
}
.picture::-webkit-file-upload-button {
  visibility: hidden;
}
.picture::before {
  content: "Upload images";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 10px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 13pt;
}
.picture:hover::before {
  border-color: black;
}
.picture:active {
  outline: 0;
}
.picture:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

/* .container-books-List, .container-authors-List {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction:row;
  padding: 20px;
} */
/* .container-universes-List, .container-awards-List {
  display: flex;
  flex-wrap: nowrap;
  align-items:center;
  padding: 20px;
  width: 100vw;
  flex-direction: column;
}
.nameUniverse {
  text-decoration-color: #535bf2;
  text-decoration-line:underline;
  font-weight: bolder;
} */

/* .container-form-title,
.container-list-title,
.container-list-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
} 
.resume {
  text-align: justify;
} */

/* .bookCard {
  color:#6ef2fc;
  font-style: var(--fill-color);
  font-weight:900;
  -webkit-text-stroke: 2px rgb(20, 6, 138);
  color: #bae6e9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 700px;
  background-image: url(https://res.cloudinary.com/dqfaa272n/image/upload/v1701986800/iptq5jlkrncx1rjbiccx.jpg);
  background-size:auto;
} */
/* .authorCard {
  color:#6ef2fc;
  font-style: var(--fill-color);
  font-weight:900;
  -webkit-text-stroke: 2px rgb(20, 6, 138);
  color: #bae6e9;
  border: 1px solid #ddd;
  border-radius: 300px;
  padding: 0% 3% 0 3%;
  margin: 0% 3% 0% 3%;
  width: 90vw;
  height: 5%;
  background-image: url(https://res.cloudinary.com/dqfaa272n/image/upload/v1705861652/APISCIFI/AWARDS/_6a9984a2-6e92-49a6-8f2c-42ae7b47600c_iyfjde.jpg);
  background-size:auto;
  align-content: center;
} */
/* .awardCard {
  font-style: var(--fill-color);
  font-weight:900;
  -webkit-text-stroke: 2px rgb(20, 6, 138);
  color:#6ef2fc;
  border: 1px solid #ddd;
  border-radius: 300px;
  padding: 0% 3% 0 3%;
  margin: 0% 3% 0% 3%;
  width: 90vw;
  height: 5%;
  background-image: url(https://res.cloudinary.com/dqfaa272n/image/upload/v1705861652/APISCIFI/AWARDS/_6a9984a2-6e92-49a6-8f2c-42ae7b47600c_iyfjde.jpg);
  background-size:auto;
  align-content: center;
} */
/* .universeCard {
  color:#6ef2fc;
  font-style: var(--fill-color);
  font-weight:900;
  -webkit-text-stroke: 2px rgb(20, 6, 138);
  color: #bae6e9;
  border: 1px solid #ddd;
  border-radius: 300px;
  padding: 0% 3% 0 3%;
  margin: 0% 3% 0% 3%;
  width: 90vw;
  height: 5%;
  background-image: url(https://res.cloudinary.com/dqfaa272n/image/upload/v1705862448/APISCIFI/AWARDS/invest-2-sci-fi_ig3tjq.webp);
  background-size:cover;
  align-content: center;

} */

/* .book-image, .author-image, .universe-image {
  width: 60%;
  text-align: center;
} */
/* .I {
  text-decoration: underline;
  color: #fff;
} */
/*Footer*/


/*Media Queries*/

@media (min-width: 576px)  {
/*Main Page*/
/* .mainpage {
  display: flex;
  flex-wrap: wrap;
} */

}

@media (min-width: 770px)  {


}
@media (min-width: 1025px)  {
  /*Main Page*/
/* .mainpage {
  display: flex;
  flex-wrap: nowrap;
} */
}

@media (min-width: 1199.98px)  {
  /* button {
      height: 90px;
      font-size: 60px;
  } */

}

@media (min-width: 5000px)  {
  /* button {
      height: 200px;
      font-size: 150px;
  }
  input, button {
      display: block;
      margin-bottom: 60px;
      padding: 60px;
      border-radius: 60px;
      font-size: 2em;
  }
  ::placeholder {
      font-size: 2em;
    }
    .picture::before {
      padding: 40px 100px;
      font-size: 2em;
  }
  .bookCard, .authorCard {
      padding: 70px;
      margin: 35px;
      width: 600px;
      background-image: url(https://res.cloudinary.com/dqfaa272n/image/upload/v1705861652/APISCIFI/AWARDS/_6a9984a2-6e92-49a6-8f2c-42ae7b47600c_iyfjde.jpg);
      background-size:cover;
      font-size: 4em;
      text-decoration:solid;
  } */
}