<header>
    <h1>Biblioteca de Ciencia Ficcion Interactiva</h1>
</header>
<div>
  <div className="home-container">
    <h2 className="home-title">Bienvenido Fans de la Ciencia Ficcion</h2>
  <p className="home-parragraph">
    Esta pagina surge como un referente de las sagas de ciencia ficcion que
    han revolucionado el genero, especialmente las Space Opera como Fundacion
    o Old `s Man War.`
  </p>
  <p className="home-parragraph">
    Además, del acceso a la informacion de estas sagas, proximamemte
    comenzaremos a completar la biblioteca con Free Epubs, mantete al dia con
    nuestra actualizaciones.
  </p>
  <menu className="container-header">
    <menu>
      <ul className="header-title-list">
        <button [routerLink]="'/login'">Login</button>
        <button [routerLink]="'/register'">Register</button>
      </ul>
    </menu>
  </menu>
  <footer className="footer">
    <p>&copy;2024 Luis Campos Pousa & David Campos Pousa| All Rights Reserved</p>
    <img className="upgrade" src="https://res.cloudinary.com/dqfaa272n/image/upload/v1705774252/upgrade_j2utcl.png" alt="upgrade-logo"/> 
  </footer>
